.tarefa {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
	background-color: #f9f9f9;
}
.tarefa.concluida{

opacity: 0.6;	
	
}
.tarefa.concluida strong {
    text-decoration: line-through;
}

.tarefa button {
 background-color:#4CAF50;
 color: white;
 margin-top: 15px;
 margin-left: .5em;
 padding: 6px 10px;
 font-size: 16px;
 border: 1px solid #aaa;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.4s;
}
.tarefa button:hover {
	background-color: #3d8e41;
}

.tarefa strong{
	font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input, select, button {
	padding: 8px;
	font-size: 16px;
}

button {
	cursor: pointer;
}

.form-container {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
}

.filtro-ativo {
    font-weight: bold;
    border: 2px solid #333;
	border-radius: 3px;
}